.body {
    margin-left: calc(50% - 620px);
    margin-right: calc(50% - 620px);
    margin-top: 48px;
}

.transactions {
    margin-top: 48px;
}

.title {
    color: #000;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
}


.detailShadow {
    position: absolute;
    width: 100%;
    top: 2px;
    left: 2px;
    border-radius: 12px;
    border: 1px solid #7C7C7C;
    height: 100%;
}

.detail {
    position: relative;
    margin-top: 12px;
}

.detailContent {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: 100%;
    border: 1px solid #7C7C7C;

    border-radius: 12px;
    background-color: white;
    justify-content: space-between;
}

.statusTitle {
    color: #000;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: 1px solid #7C7C7C;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    gap: 32px;
}
.status{

    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sourceChain {

    padding: 12px 24px;
    margin-bottom: 24px;
}

.subtitle {
    color: #000;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sourceChainContent {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between
}

.item {
    flex-basis: 49%;
    display: flex;
    border-radius: 6px;
    background-color: #F9F9F9;
    padding: 12px 24px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.data {
    margin-top: 12px;
    display: flex;
    border-radius: 6px;
    background-color: #F9F9F9;
    padding: 12px 24px;


}

.itemValue {
    display: flex;
    gap: 8px;
    align-items: center;
}

.itemTitle {
    width: 200px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media (max-width: 1288px) {
    .body {
        margin-left: 24px;
        margin-right: 24px;

    }
}